<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>♞</string>
	<string>❁</string>
	<string>❂</string>
	<string>❦</string>
	<string>웃</string>
	<string>♚</string>
	<string>✹</string>
	<string>❅</string>
	<string>✩</string>
	<string>☬</string>
	<string>𓁷</string>
	<string>🅑</string>
	<string>🅚</string>
	<string>𝓑</string>
	<string>㊕</string>
	<string>㊟</string>
	<string>㊛</string>
	<string>㊎</string>
	<string>卍</string>
	<string>❧</string>
	<string>☥</string>
	<string>☤</string>
	<string>☧</string>
	<string>☫</string>
	<string>☭</string>
	<string>№</string>
	<string></string>
	<string>♧</string>
	<string>𓁶</string>
	<string>✰</string>
	<string>✮</string>
	<string>⁂</string>
	<string>❖</string>
	<string>▓</string>
	<string>⅚</string>
	<string>Ψ</string>
	<string>𝕭</string>
	<string>お</string>
	<string>₩</string>
	<string>௹</string>
	<string>₦</string>
	<string>₱</string>
	<string>₲</string>
	<string>Ⓢ</string>
</array>
</plist>
